anyio==4.13.0
asgiref==3.11.1
click==8.3.3
Django==5.2.13
h11==0.16.0
httptools==0.7.1
idna==3.13
packaging==26.2
psycopg==3.3.3
psycopg-binary==3.3.3
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
setuptools==82.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
wheel==0.47.0
